<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Css</title>
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">inicio</a></li>
                <li><a href="productos.html">producto</a></li>
                <li><a href="servicios.html">servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
<main>
    <img src="../img/img_contactos.jpg.jpeg" alt="">
    <h1 class="Hola">Contactos </h1>
    <h2 class="Hola">MENU PRINCIPAL</h2>
    <footer> 
        
    </footer>
    <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis maiores ad voluptate enim ipsam pariatur numquam ipsa consequuntur incidunt qui obcaecati alias nesciunt aperiam et, quibusdam doloremque? Cupiditate, quis.</p>
        
        <p>Lorem ipsum dolor sit amet ur adipisicing elit. Veritatis asperiores eaque quaerat at quas laborum ad ipsa? Enim accusamus, reiciendis optio maiores autem quo. Quos hic ducimus obcaecati consequuntur fugiat.</p>
    </div>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1973.9398143699532!2d-73.59766856604422!3d8.314758989428618!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e5d8f7d27c7bf07%3A0xa72b1dc51f284557!2sUniversidad%20Popular%20del%20Cesar%20-%20Aguachica!5e0!3m2!1ses!2sco!4v1773434051656!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </main>
</body>
</html>
</html>