<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Css</title>
</head>
<body>
    <header>
        <nav class="menu">
            <ul>
                <li><a href="../index.html">inicio</a></li>
                <li><a href="productos.html">producto</a></li>
                <li><a href="servicios.html">servicios</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
        <main>
            <img src="../img/img_productos.jpg.jpeg" alt="">
    <h1 class="Hola">Productos</h1>
    <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reiciendis maiores ad voluptate enim ipsam pariatur numquam ipsa consequuntur incidunt qui obcaecati alias nesciunt aperiam et, quibusdam doloremque? Cupiditate, quis.</p>
        
        <p>Lorem ipsum dolor sit amet ur adipisicing elit. Veritatis asperiores eaque quaerat at quas laborum ad ipsa? Enim accusamus, reiciendis optio maiores autem quo. Quos hic ducimus obcaecati consequuntur fugiat.</p>
    </div>
        </main>
</body>
</html>
</html>